<a name="about"></a>
<div class="section green">
  <div class="section-inner">
    <h1 class="section-heading">
      <span class="text">
        <span class="translation">
          about
        </span>

        ドキドキ.fmについて
      </span>
    </h1>

    <p>doki doki meaning: with a throbbing heart.</p>

    <div class='program-row'>
      <div class="program-container">
        <h3 class="program-title">
          <a name="dokidoki">
            dokidoki flavor
          </a>
        </h3>

        <p class="program-description">
          Jensen's hand-picked favorites. It might get a little weird.
        </p>

        <p class="program-dj">
          <span class="program-host">Host:</span> <a class="contact-link" href="http://twitter.com/jensechu">Jensen</a>
        </p>
      </div>

      <div class="program-container">
        <h3 class="program-title">
          <a name="melting-popsicle">
            melting popsicle
          </a>
        </h3>

        <p class="program-description">
          All pop music. Listen to the latest releases from a variety of obscure artists.
        </p>

        <p class="program-dj">
          <span class="program-host">DJ: Mary Ann
        </p>
      </div>

      <div class="program-container">
        <h3 class="program-title">
          <a name="no-lunch-money">
            JLPT Studies
          </a>
        </h3>

        <p class="program-description">
          Listening samples to prepare you for the JLPT exam.
        </p>

        <p class="program-dj">
          <span class="program-host">Host needed!</span> Volunteer.
        </p>
      </div>

      <div class="program-container">
        <h3 class="program-title">
          <a name="jlpt-studies">
            Programming News
          </a>
        </h3>

        <p class="program-description">
          Review of latest trends in programming.
        </p>

        <p class="program-dj">
          <span class="program-host">Host:</span> <a class="contact-link" href="http://twitter.com/jensechu">Jensen</a>
        </p>
      </div>
    </div>

    <p>To volunteer or request a time slot for your own show message Jensen. Don't be shy!</p>

  </div>
</div>
