<div class="section green">
  <div class="section-inner">
    <header class="site-header">

      <a class="site-title" href="{{ site.baseurl }}/">
        <span class="text">
          <span class="translation">
            dokidoki.fm
          </span>

          ドキドキ
        </span>
      </a>

      <nav class="site-nav">
        <a class="nav-link" href="#schedule">
          <span class="text">
            <span class="translation">
              schedule
            </span>

            スケジュール
          </span>
        </a>

        <a class="nav-link" href="#about">
          <span class="text">
            <span class="translation">
              about
            </span>

            ドキドキ.fmについて
          </span>
        </a>

        <a class="nav-link" href="http://mixlr.com/prawn/">
          <span class="text">
            <span class="translation">
              subscribe
            </span>

            登録する
          </span>
        </a>
      </nav>

    </header>
  </div>
</div>
