<div class="section green">
  <div class="section-inner">
    <header class="site-header">

      <div class="wrapper">

        <a class="site-title" href="{{ site.baseurl }}/">
          <ruby>
            ドキドキ

            <rt>
              dokidoki.fm
            </rt>
          </ruby>
        </a>

        <nav class="site-nav">
            <a class="page-link" href="#schedule">
              <ruby>
                スケジュール
                <rt>
                  schedule
                </rt>
              </ruby>
            </a>

            <a class="page-link" href="#about">
              <ruby>
                ドキドキ.fmについて
                <rt>
                  about
                </rt>
              </ruby>
            </a>
        </nav>

      </div>
    </header>
  </div>
</div>
