<div class="section green header inline-nav">
  <div class="section-inner">
    <header class="site-header">

      <a class="site-title" href="{{ site.baseurl }}/">
        <span class="text">
          <span class="translation">
            dokidoki.fm
          </span>

          ドキドキ
        </span>
      </a>

      <nav class="site-nav">
        <span class="nav-link" href="#section1">
          <span class="text">
            <span class="translation">
              correct
            </span>

            <span class='total-correct'>
              0
            </span> /
            <span class='total-questions'>
            </span>
          </span>
        </span>

        <a class="nav-link" href="#section1">
          <span class="text">
            <span class="translation">
              section1
            </span>

            もんだい１
          </span>
        </a>

        <a class="nav-link" href="#section2">
          <span class="text">
            <span class="translation">
              section2
            </span>

            もんだい２
          </span>
        </a>

        <a class="nav-link" href="#section3">
          <span class="text">
            <span class="translation">
              section3
            </span>

            もんだい３
          </span>
        </a>
      </nav>

    </header>
  </div>
</div>
