<a name="schedule"></a>
<div class="section lightGreen">
  <div class="section-inner">

    <h1 class="section-heading">
      <span class="text">
        <span class="translation">
          schedule
        </span>

        スケジュール
      </span>
    </h1>

    <div class="calendar-header-row">
      <div class="day-box">
        <span class="text">
          <span class="translation">
            sun
          </span>

          <span class="mobile">
            日
          </span>

          <span class="desktop">
            日曜日
          </span>
        </span>
      </div>

      <div class="day-box">
        <span class="text">
          <span class="translation">
            mon
          </span>

          <span class="mobile">
            月
          </span>

          <span class="desktop">
            月曜日
          </span>
        </span>
      </div>

      <div class="day-box">
        <span class="text">
          <span class="translation">
            tue
          </span>

          <span class="mobile">
            火
          </span>

          <span class="desktop">
            火曜日
          </span>
        </span>
      </div>

      <div class="day-box">
        <span class="text">
          <span class="translation">
            wed
          </span>

          <span class="mobile">
            水
          </span>

          <span class="desktop">
            水曜日
          </span>
        </span>
      </div>

      <div class="day-box">
        <span class="text">
          <span class="translation">
            thur
          </span>

          <span class="mobile">
            木
          </span>

          <span class="desktop">
            木曜日
          </span>
        </span>
      </div>

      <div class="day-box">
        <span class="text">
          <span class="translation">
            fri
          </span>

          <span class="mobile">
            金
          </span>

          <span class="desktop">
            金曜日
          </span>
        </span>
      </div>

      <div class="day-box">
        <span class="text">
          <span class="translation">
            sat
          </span>

          <span class="mobile">
            土
          </span>

          <span class="desktop">
            土曜日
          </span>
        </span>
      </div>
    </div>

    <div class="calendar-row">
      <div class="day-box">
      </div>

      <div class="day-box">
        <span class="show-title">
          Eclectic Japan
        </span>

        <span class="show-time">
          12:00pm - 1:00 PST
        </span>
      </div>

      <div class="day-box">
        <span class="show-title">
          ドキドキ Flavor
        </span>

        <span class="show-time">
          11:00am - 12:30 PST
        </span>
      </div>

      <div class="day-box">
        <span class="show-title">
          melting popsicle
        </span>

        <span class="show-time">
          11:00am - 12:00 PST
        </span>
      </div>

      <div class="day-box">
      </div>

      <div class="day-box">
      </div>

      <div class="day-box">
        <span class="show-title">
          JLPT N4 & N5 Broadcast
        </span>

        <span class="show-time">
          12:00pm - 12:45 PST
        </span>
      </div>
    </div>

  </div>
</div>
