$mobile-calendar: $on-palm + 300;

.calendar-header-row {
  width: 100%;

  @include media-query($mobile-calendar) {
    width: 15%;
  }

  .day-box {
    min-height: 0px;
    padding-top: 15px;

    @include media-query($mobile-calendar) {
      height: 70px;
      box-sizing: border-box;
    }
  }

  .text {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 25px;
    color: $lightGreen;

    .translation {
      font-size: 12px;
      color: #000;
      text-align: center;
      line-height: 0px;
      width: 100%;
      display: block;
      margin: 5px 0px;
    }

    .desktop {
      @include media-query($mobile-calendar) {
        display: none;
      }
    }

    .mobile {
      display: none;
      color: $lightGreen;

      @include media-query($mobile-calendar) {
        display: block;
      }
    }
  }
}

.calendar-row {
  display: inline-block;
  width: 100%;

  @include media-query($mobile-calendar) {
    width: 79%;
  }
}

.day-box {
  float: left;
  width: 12.5%;
  padding: 5px;
  margin: 2px;
  min-height: 75px;
  background-color: $green;

  @include media-query($mobile-calendar) {
    width: 100%;
    float: left;
    height: 60px;
    min-height: 0px;
  }

  .show-title {
    font-size: 12px;
    font-weight: bold;
    min-height: 45px;
    display: block;

    @include media-query($mobile-calendar) {
      min-height: 0px;
    }
  }

  .show-time {
    font-size: 10px;
    vertical-align: bottom;

    @include media-query($mobile-calendar) {
      min-height: 60px;
    }
  }
}
