.heart-footer {
  width: 100%;
  text-align: center;
  font-size: 45px;
  font-family: dokidoki;
  color: $green;
  text-shadow: -1px -1px 0 $lightGreen, 1px -1px 0 $lightGreen, -1px 1px 0 $lightGreen, 1px 1px 0 $lightGreen;
}
