.section.header {
  padding-top: 25px;

  &.inline-nav {
    position: fixed;
    padding: 25px 0 0;
    
    @include media-query($on-palm) {
      float: left;
      margin: 0 0 25px;
    }

    .site-nav {
      max-width: none;
      margin-top: 20px;

      @include media-query($on-palm) {
        float: left;
        display: inline-block;
        width: 100%;
      }

      .nav-link {
        float: left;
        margin-left: 35px;
      }
    }
  }
}

.site-title {
  font-family: 'Kei';
  font-size: 45px;

  @include media-query($on-palm) {
    text-align: center;
  }


  .text {
    float: left;

    @include media-query($on-palm) {
      display: block;
      float: none;
    }
  }


  .translation {
    font-size: 12px;
    text-align: right;
    line-height: 0px;
    width: 100%;
    display: block;

    @include media-query($on-palm) {
      text-align: center;
    }
  }
}

.site-nav {
  max-width: 200px;
  float: right;
  text-align: right;

  @include media-query($on-palm) {
    display: none;
  }
}

.nav-link {
  margin-bottom: 15px;
  display: block;

  .translation {
    font-size: 12px;
    text-align: right;
    line-height: 5px;
    width: 100%;
    display: block;
  }
}
