$largeHeart: 300px;
$heartOffset: ($largeHeart / 4);

#heart-container {
  padding: 100px 0px 0px 0px;
}

.heart-waves {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-family: dokidoki;
}

.heart-wave {
  color: $pink;
  text-shadow: -1px -1px 0 $lightGreen, 1px -1px 0 $lightGreen, -1px 1px 0 $lightGreen, 1px 1px 0 $lightGreen;
  position: absolute;
  opacity: 0;
  animation: pulse 4s infinite;
  text-align: center;

  &.large {
    width: 100%;
    font-size: $largeHeart;
    top: -($heartOffset * 2.5);
    left: -16px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
  }

  &.medium {
    width: 100%;
    top: -($heartOffset * 2);
    left: -12px;
    font-size: $largeHeart - $heartOffset;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
  }

  &.small {
    width: 100%;
    top: -($heartOffset * 1.5);
    left: -8px;
    font-size: $largeHeart - ($heartOffset * 2);
  }
}

@keyframes pulse {
  0%   { opacity: 1; }
  10%   { opacity: 1; }
  50%   { opacity: 0; }
  75%   { opacity: 0; }
  100% { opacity: 0; }
}


@-webkit-keyframes pulse {
  0%   { opacity: 1; }
  10%   { opacity: 1; }
  50%   { opacity: 0; }
  75%   { opacity: 0; }
  100% { opacity: 0; }
}



@-moz-keyframes pulse {
  0%   { opacity: 1; }
  10%   { opacity: 1; }
  50%   { opacity: 0; }
  75%   { opacity: 0; }
  100% { opacity: 0; }
}


#tower {
  font-size: $largeHeart;
  font-family: dokidoki;
  color: $lightGreen;
  line-height: 210px;
}
