/**
 * Site header
 */
.site-header {
}

.streaming-container {
  padding: 0px;
  display: none;

  &.online {
    display: block;
  }
}

.on-air {
  position: relative;
  text-align: center;
  font-size: 56px;
  z-index: 900;

  a,
  a:visited {
    color: #000;
  }
}

.site-title {
    font-size: 45px;
    font-family: Kei;
    line-height: 56px;
    margin-bottom: 0;
    float: left;

    ruby {
      color: #000;
      position: absolute;

      @include media-query($on-palm) {
        position: relative;
      }
    }

    rt {
      position: absolute;
      top: -10px;
      right: 0px;
      font-size: 12px;
      text-align: right;

      @include media-query($on-palm) {
        text-align: center;
      }
    }

    @include media-query($on-palm) {
      width: 100%;
      text-align: center;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    padding-top: 5px;
    width: 200px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        float: right;
        margin-bottom: 10px;
        position: relative;

        rt {
          position: absolute;
          top: -10px;
          right: 0px;
          font-size: 12px;
          text-align: right;
        }
    }

    @include media-query($on-palm) {
      display: none;
    }
}

/**
 * Site footer
 */

 .footer.section {
    padding: 25px 0px 5px;

    a, p {
      color: #000;
    }
 }

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
