.program-container {
  width: 23.5%;
  float: left;
  margin-right: 10px;

  @include media-query($on-palm) {
    width: 100%;
  }
}

.program-row {
  width: 100%;
  float: left;
  margin: 15px 0px;
}

.program-title {
  background: $lightGreen;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;

  a {
    font-size: 15px;
    color: #000;
  }
}

.program-description {
  padding: 5px;
  margin-bottom: 5px;
  background: $lightGreen;
}

.program-dj {
  padding: 5px;
  font-size: 12px;
  background: $lightGreen;
}

.contact-link {
  text-decoration: underline;
  color: #000;

  &:hover {
    color: $lightGreen;
  }
}

.heart-footer {
  width: 100%;
  text-align: center;
  font-size: 45px;
  font-family: dokidoki;
  color: $green;
  text-shadow: -1px -1px 0 $lightGreen, 1px -1px 0 $lightGreen, -1px 1px 0 $lightGreen, 1px 1px 0 $lightGreen;
}
