.section {
  width: 100%;
  padding: 100px 0px;

 @include media-query($on-palm) {
   padding: 25px 0px;
 }
}

.section-inner {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.section-heading {
  font-family: 'Kei';

  @include media-query($on-palm) {
    text-align: center;
    font-size: 25px;
  }
}
